* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-header {
    display:flex;
    padding: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid rgb(0, 80, 67);
}

.vue-logo {
    display: inline-block;
    height: 52px;
    width: 60px;
    margin-top: 10px;
    background: url(../assets/vue.png);
    background-size: cover;
    margin-right: -7px;
}

.title-text, .question, .answer {
    color: rgb(0, 80, 67);
    display:inline-block;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 50px;
   
}

.quiz-body {
    padding: 30px;
}

.question {
    text-align: center;
    margin: 0 auto 40px;
    max-width: 600px;
    display: block;
    line-height: 30px;
}
.buttonTray {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.answer {
    font-weight: 400;
    margin: 20px;
    width: 150px;
    padding: 0 10px;
    border-style: inset;
    border: 1px solid rgb(0, 80, 67);
}

.answer:hover {
    background: #4fc08d;   
}

.answer:focus {
    outline: none;
    border-style: inset;
    border: 1px solid rgb(0, 80, 67);
    box-shadow: 0 0 0 2px rgb(0, 80, 67);
}