* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.flex-header {
    display:flex;
    padding: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid rgb(0, 80, 67);
}

.vue-logo {
    display: inline-block;
    height: 52px;
    width: 60px;
    margin-top: 10px;
    background: url(../assets/vue.png);
    background-size: cover;
    margin-right: -7px;
}

.title-text, .question, .answer, .winLose {
    color: rgb(0, 80, 67);
    display:inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 50px;
}

.title-text {
    font-size: 2rem;
    font-weight: 100;
}

.question {
    height: 100px;
}

.winLose {
    font-weight: 400;
}

.quiz-body {
    padding: 30px;

}

.question, .winLose {
    margin: 0 auto 40px;
    max-width: 600px;
    display: block;
    line-height: 30px;
}

.buttonTray {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer {
    font-weight: 400;
    margin: 20px;
    width: 150px;
    padding: 0 10px;
    border-style: inset;
    border: 1px solid rgb(0, 80, 67);
}

.answer:hover {
    background: rgb(215, 250, 241);   
}

.answer:focus {
    outline: none;
    border-style: inset;
    border: 1px solid rgb(0, 80, 67);
    box-shadow: 0 0 0 1px rgb(0, 80, 67);
}

.footer {
    position: fixed;
    width: 100%;
    font-size: .75rem;
    bottom: 0;
    background: rgb(215, 250, 241);
    padding: 10px 0 20px;
}

.footer a { 
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    margin: 0 auto;
    text-decoration: none;
}

@media only screen and (min-width: 700px) {
    .buttonTray {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1000px) {

}